<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737235995060-bncf8d8i691tudngjm5g8vnn3dprs116.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737235995060-bncf8d8i691tudngjm5g8vnn3dprs116</string>
	<key>API_KEY</key>
	<string>AIzaSyDmswCTUha7M_PZfq24oal18KLB7wYL4HY</string>
	<key>GCM_SENDER_ID</key>
	<string>737235995060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.CalmCompass</string>
	<key>PROJECT_ID</key>
	<string>calmcompass-220bf</string>
	<key>STORAGE_BUCKET</key>
	<string>calmcompass-220bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737235995060:ios:ae4cac39be272cfc464ae1</string>
</dict>
</plist>